/* Header.css */

.header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo h1 {
    margin: 0;
    color: #ffcc00;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
  }
  
  .nav ul li {
    margin-right: 20px;
    cursor: pointer;
 color: #fff;
  }
  
  .nav ul li:hover {
    text-decoration: underline;
  }
.mm2{
  width: 50px;
  height: 50px;
}